.auth-container {
  position: relative;
  width: 35%;
  min-height: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
.auth-content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  /* align-items: center; */
}

.auth-title {
  position: relative;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  /* border-bottom: 3px solid #019fbb; */
  display: inline;
}

.auth-title::before {
  content: "";
  position: absolute;
  /* bottom: 0; */
  width: 50%;
  height: 2.5px;
  border-radius: 7px;
  background-color: #23ccea;
  top: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
}

.auth-input {
  margin: 5px !important;
  margin-top: 7px !important;
}
.otp-input:focus {
  outline: 0 !important;
}
.primary-btn {
  background-color: #00b5cd !important;
  margin-top: 25px !important;
}
.auth-btn {
  text-transform: capitalize !important;
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.forget-password {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  color: rgb(106, 67, 67);
  cursor: pointer;
}
.forget-password:hover {
  color: #00b5cd;
}
/* .sec-btn {
  width: 50%;
  text-transform: capitalize;

} */
