/* for large screens */
.home-main {
  position: relative;
}
.sell-form-lg {
  position: absolute;
  width: 350px;
  height: 340px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgrey;
  background-color: #fff;
  top: 80px;
  z-index: 1;
  left: 7%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.sell-form-lg > .home-field {
  padding: 7px;
}
.home-field-input {
  position: relative;
  width: 80%;
  box-shadow: 0 0 2px 2px rgb(238, 238, 238);
  border-radius: 2px;
  margin-top: 15px;
  border-color: transparent;
  padding: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}
.home-field-input:focus {
  outline: none;
}
.sell-form-title {
  font-weight: 600;
  margin: 4px;
  /* align-items: center; */
  /* width: 280px; */
  font-size: 1.1rem;
  color: #019fbb;
  border-radius: 1px;
  border-bottom: 3px solid #019fbb;
  margin-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.carousel-image {
  aspect-ratio: 4;
}

/* categories */

.categories {
  margin-top: 90px;
  margin-bottom: 50px;
}
.category-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.subtitle {
  font-weight: 600;
  color: #019fbb;
  font-size: 1.2rem;
}
.category-item {
  width: 120px;
  height: 120px;
  /* border: 1.4px solid #019fbb; */
  border-radius: 5px;
  box-shadow: 0 0 10px 3px #e6e6e641;
  background-color: rgb(231, 251, 255);
  padding: 5px;
  transition: all 0.2s ease;
}
.category-name {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 3px;
}
.category-img {
  width: 60px;
  /* height: 70px; */
}
.category-item:hover {
  box-shadow: 0 0 10px 5px #00c6e93e;
}

/* suggestions */

.suggestions {
  margin-top: 60px;
  margin-bottom: 50px;
}

.suggestion-item {
  position: relative;
  max-width: 380px;
  height: 200px;
  background-color: rgb(231, 251, 255);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.more {
  font-size: 0.9rem;
  cursor: pointer;
  user-select: none;
}
.more:hover {
  color: #019fbb;
}
.s-prod-img {
  position: relative;
  width: 50% !important;
}

.prod-det {
  position: relative;
  height: 100%;
  margin-left: 15px;
}
.prod-name {
  font-weight: 600;
  margin-bottom: 4px;
}
.prod-desc {
  font-size: 0.8rem;
  font-weight: 500;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.prod-place {
  font-size: 0.8rem;
  font-weight: 500;
  max-width: 100%;
  text-overflow: ellipsis;
}
.prod-action {
  display: flex;
  align-items: center;
}
.buy {
  width: 70%;
  padding: 6px;
  background-color: #00c8e2;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}
.cart {
  margin-left: 15px;
}

/* features .features {
  margin-top: 60px;
  height: 70vh;
  background-color: rgb(231, 251, 255);
} */
/* products */

.products {
  margin-top: 60px;
  /* height: 70vh; */
  background-color: rgb(231, 251, 255);
}

.prod-title {
  padding-top: 25px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.prod-list {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.prod-item {
  position: relative;
  width: 290px;
  height: 340px;
  background-color: #fff;
  border-radius: 5px;
  margin: 15px;
  /* margin-bottom: 10px; */
  padding-top: 10px;
  box-shadow: 0 0 5px 5px rgba(234, 234, 234, 0.181);
}
.prod-img {
  width: 100%;
  height: 70%;
  /* margin-top: 10px; */
  /* background-image: ; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, transparent, #00c8e2);
  z-index: 3;
}
.o-prod-info {
  position: absolute;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.o-prod-det {
  position: relative;
  width: 75%;
  bottom: 0;
  color: #000;
  /* padding: 10px; */
  margin-top: 10px;
}
.o-prod-title {
  color: #019fbb;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.o-prod-desc {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  width: 100%;
}
.o-prod-loc {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
}
.o-prod-cart {
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: rgb(231, 251, 255);
  box-shadow: 0 0 2px #00d9f644;
  /* width: 25%; */
  display: flex;
  padding: 8px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.o-prod-cart:hover {
  background-color: rgb(193, 246, 255);
}

/* footer */
.footer {
  height: 45vh;
  background-color: rgb(31, 44, 57);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: calc(45vh - 35px);
  padding-top: 35px;
  /* padding-left: 10% !important;
  padding-right: 10% !important; */
}
.title-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(45vh - 35px);
}
.footer-logo {
  margin: 0;
  font-size: 1.9rem;
  font-weight: 600;
  color: #fff;
}
.rights {
  margin-top: 30px;
}
.copyrights {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
}
.footer-cat {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}
.fcat-title {
  padding: 5px 10px 6px 5px;
  border-bottom: 3px solid #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
}
.fcat-item {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 5px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.fcat-item-span {
  position: relative;
  padding-bottom: 5px;
}
.fcat-item-span:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5px;
  background-color: #fff;
  top: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.fcat-item-span:hover:before {
  width: 100%;
}
/* for small screns */
@media screen and (max-width: 768px) {
  .carousel-image {
    aspect-ratio: 2.3;
    border-radius: 5px;
  }
  .sell-form-lg {
    display: none;
  }
}
